.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
data/2019events_summary_df.csv
data/2019game_info_df.csv
data/2019pbp_base.csv
data/2019pbp_extras.csv
data/2019player_periods.csv
data/2019player_shifts.csv
data/2019report.csv
data/2019roster_df.csv
data/2019scratches_df.csv
data/.DS_Store
data/seasons/.DS_Store
.DS_Store
*.pper
.Rproj.user/32B8DE4C/sources/prop/INDEX
data/seasons/.DS_Store
data/seasons/.DS_Store
.Rproj.user/32B8DE4C/sources/prop/INDEX
.Rproj.user/32B8DE4C/pcs/source-pane.pper
*.csv
*.csv
*.csv
